@model Movie
<h2>Delete Movie</h2>
<h3>Are you sure you want to delete this movie?</h3>
<div>
    <h4>Movie Details</h4>
    <dl class="dl-horizontal">
        <dt>Movie mame</dt>
        <dd>@Model.Name</dd>
        <!-- Include other movie properties here -->
    </dl>
    <form asp-action="DeleteConfirmed" asp-route-Id="@Model.Id" method="post">
        <input type="hidden" asp-for="Id" />
        <p>
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a asp-action="Index">Back to List</a>
        </p>
    </form>
</div>
